a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 7px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: #ff0063;
    border-radius: 2px;
}

::-webkit-scrollbar-track {
    background: #000;
    border-radius: 0px;
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
}

.back-to-top:hover {
    background: #ff0666;
    color: #fff;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}


/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #0880e8;
    border-top-color: #bfe0fd;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/

@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
    height: auto;
    left: 10%;
    right: 10%;
    height: 70px;
    background: linear-gradient(to left, rgba(255, 255, 255, 255), rgba(255, 255, 255, 0.8)) repeat-x scroll 0 0;
    border-radius: 0 0 15px 15px;
}

#header .logo .logo-image {
    display: block;
    max-width: 100%;
    height: 60px;
}


/*--------------------------------------------------------------
# Navbar Menu
--------------------------------------------------------------*/

.navbar-toggler,
.navbar-toggler-icon span {
    border: none;
    width: 40px;
    margin-top: 0;
}

.navbar-toggler,
.navbar-toggler-icon {
    color: #ff0666;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.offcanvas {
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    overflow: inherit;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    z-index: 10000;
}


/*--------------------------------------------------------------
# Front-Page Section
--------------------------------------------------------------*/

#hero {
    width: 100%;
    height: 100vh;
    position: relative;
}

#hero video {
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

#hero .wave {
    width: 100%;
    position: absolute;
    z-index: 2;
    bottom: -1px;
}

#hero .wave svg {
    fill: #ffffff;
    height: 70px;
    width: 100%;
}

@media (max-width: 767px) {
    #hero .wave svg {
        width: 100%;
        max-width: 100%;
        height: 20px;
    }
}

#carousel-video::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    background: rgba(2, 2, 2, 0.733);
}

#hero .carousel-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero h1 {
    margin-bottom: 30px;
    font-weight: 700;
    font-family: "Russo One";
    text-align: center;
    text-shadow: rgb(0, 0, 0) 3px 5px 13px;
    font-size: 7vw;
    padding: 0px;
    line-height: 1;
}

#hero h2 {
    color: rgb(255, 8, 103);
    font-family: "Russo One";
    font-weight: 900;
    line-height: 1;
    font-size: 4vw;
    text-shadow: rgb(0, 0, 0) 3px 5px 13px;
}

.box-slider {
    padding-right: 20px !important;
    padding-left: 20px !important;
}

#hero p {
    width: 90%;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    margin: 0 auto 30px auto;
    color: #fff;
    font-family: Helvetica;
    font-size: 20px;
}

#hero .carousel-control-prev,
#hero .carousel-control-next {
    width: 10%;
}

#hero .carousel-control-next-icon,
#hero .carousel-control-prev-icon {
    background: none;
    font-size: 48px;
    line-height: 1;
    width: auto;
    height: auto;
}

#hero .btn-get-started {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid #fff;
}

#hero .btn-get-started:hover {
    background: #fff;
    color: #000;
    text-decoration: none;
}

@media (min-width: 1024px) {
    #hero p {
        width: 30vw;
    }
    #hero .carousel-control-prev,
    #hero .carousel-control-next {
        width: 5%;
    }
}

@media (max-width: 768px),
(max-height: 700px) {
    #hero {
        height: 120vh;
        padding: 10px;
    }
    #hero h1 {
        margin-bottom: 30px;
        font-weight: 700;
        font-family: "Russo One";
        text-align: center;
        text-shadow: rgb(0, 0, 0) 3px 5px 13px;
        font-size: 8vw;
        padding: 0px;
        line-height: 1;
    }
    #hero h2 {
        margin-bottom: 30px;
        font-weight: 700;
        font-family: "Russo One";
        text-align: center;
        text-shadow: rgb(0, 0, 0) 3px 5px 13px;
        font-size: 6vw;
        padding: 0px;
        line-height: 1;
    }
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/